<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Check Customer - BANK_APPLICATION</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<br><br><br><br>

<div class="row justify-content-center">
    <SPAN> search for the customer</SPAN>
</div>
<br><br><br><br>
<div class="container">
    <div class="row ">
        <div class="col-md-12  ">
            <form  th:action="@{/checkCustomerID}" th:object="${customerCheck}" method="Post" >
                <div class="row justify-content-center">
                    <!--part-->
                    <!--Login Form-->
                    <div class="col-md-4 ">
                        <p th:if="${invalid_user_error}" class="error" style="color: red">Customer id not exists</p>
                        <div class="md-form mb-0">
                            <label for="customerID" class="">Customer ID</label>
                            <input type="text" id="customerID"  name="customerID" class="form-control">
                        </div>
                        <br>
                        <div class="col-xl">
                            <input type="submit" value="Search" class="btn btn-primary">
                        </div>
                    </div>
                    <!--Grid column-->
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="row justify-content-center">
    <a th:href="@{/customer_Service}" style="color: dodgerblue; float: left"> Back to Customer Service</a>
</div>
</body>

</html>