<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Service - BANK_APPLICATION</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<center>
<SPAN> welcome to the Customer Service</SPAN>


<br><br><br><br>
    <div >
<a th:href="@{/showInfo}" style="color: dodgerblue; float: left"> Show INFO</a>
<br><br>
<a th:href="@{/customerServicePage}" style="color: dodgerblue; float: left"> open New Current Account</a>
    </div>
</center>


</body>

</html>